div#carouselExampleInterval{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.carousel-item{
    object-fit: cover;
    height: 555px;
    width: 100%;
}