<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1> Crie sua conta ClickMovies! </h1>
      <p> Ache o filme, série ou jogo perfeito para você, conosco!</p>
    </div>
    <div class="login form ion-padding">
      <div class="form input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">NOME</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">E-MAIL</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">SENHA</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
    </div>
  </div>
  <div class="action-buttons ion-padding">
    <ion-button size="large" class="login-button">Cadastre-se</ion-button>
    <ion-button class="signup-button" size="large" fill="outline" routerLink="/login">Login</ion-button>
    </div>
  </div>
</ion-content>
