<div id="container" class="row">
    <div class="col">
        <h1 class="text-center my-2">Filmes</h1>
        <div *ngFor="let resultado of resultados_filme">
            <div id="conteudo" class="d-flex border border-light rounded bg-light">
                <a routerLink="/titulo/filmes/{{resultado.id}}">
                    <img src="{{resultado.imagem}}" alt="{{resultado.nome}}" class="rounded-start" (click)="abrirFilme(resultado.id)">
                </a>
                <div class="d-flex flex-column ms-3 p-2">
                    <a class="text-black text-decoration-none" routerLink="/titulo/filmes/{{resultado.id}}">
                        <h5 (click)="abrirFilme(resultado.id)">{{resultado.nome}}</h5>
                    </a>
                    <p>{{resultado.descricao}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <h1 class="text-center my-2">Séries</h1>
        <div *ngFor="let resultado of resultados_serie">
            <div id="conteudo" class="d-flex border border-light rounded bg-light">
                <a routerLink="/titulo/series/{{resultado.id}}">
                    <img src="{{resultado.imagem}}" alt="{{resultado.nome}}" class="rounded-start" (click)="abrirSerie(resultado.id)">
                </a>
                <div class="d-flex flex-column ms-3 p-2">
                    <a class="text-black text-decoration-none" routerLink="/titulo/series/{{resultado.id}}">
                        <h5 (click)="abrirSerie(resultado.id)">{{resultado.nome}}</h5>
                    </a>
                    <p>{{resultado.descricao}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <h1 class="text-center my-2">Jogos</h1>
        <div *ngFor="let resultado of resultados_jogo">
            <div id="conteudo" class="d-flex border border-light rounded bg-light">
                <a class="text-black text-decoration-none" routerLink="/titulo/{{resultado.id}}">
                    <img src="{{resultado.imagem}}" alt="{{resultado.nome}}" class="rounded-start" (click)="abrirJogo(resultado.id)">
                </a>
                <div class="d-flex flex-column ms-3 p-2">
                    <a routerLink="/titulo/{{resultado.id}}" class="text-black text-decoration-none">
                        <h5 (click)="abrirJogo(resultado.id)">{{resultado.nome}}</h5>
                    </a>
                    <p>{{resultado.descricao}}</p>
                </div>
            </div>
        </div>
    </div>
</div>