div#container{
    position: absolute;
    top: 105px;
    margin-left: 10px;
    margin-right: 10px;
}

div#conteudo{
    margin-top: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    overflow: hidden;
}

img{
    max-height: 140px;
    max-width: 100px;
    object-fit: contain;
}


p{
    height: 50px;
    line-break: auto;
}

a{
    cursor: pointer;
}