<div id="form" class="container pt-1 rounded bg-light">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3 row mt-2">
        <label for="email" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
          <input type="email" class="form-control" id="email" formControlName="email" (blur)="validaEmail()">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="senha" class="col-sm-1 col-form-label">Senha</label>
        <div class="col-sm-11">
          <input formControlName="senha" type="password" class="form-control" id="senha" (blur)="validaSenha()">
        </div>
        <small class="text-center mt-2">Ainda não possui cadastro? <a routerLink="/cadastro">Faça já o seu cadastro!</a></small>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto py-2" >
      <div id="divLogin" class="text-center text-danger"></div>
      <button class="btn btn-primary" type="submit">Login</button>
  </div> 
  </form>
</div>