#fav{
    margin-top: 130px;
    overflow-x: hidden;
}

img{
    max-height: 350px;
    max-width: 320px;
}

.favorito{
    max-width: 332px;
}

.poster{
    margin-left: 50px;
}
.deletar{
    margin-left: 110px;
}