<div *ngIf="usuario$ | async as usuario" id="fav">
    <h1 class="text-center">Favoritos</h1>
    <div class="row bg-light">
        <div *ngFor="let favorito of lista_de_favorito" class="col">
            <div class="favorito py-2">
                <img src="{{favorito.poster}}" alt="{{favorito.nome}}" class="border rounded poster">
                <h4 class="text-center fw-bold">{{favorito.nome}}</h4>
                <button class="deletar btn btn-primary" type="button" (click)="deletar(usuario.uid, favorito.uid)">Remover <i class="bi bi-trash-fill"></i></button>
            </div>
        </div>
    </div>
</div>