<div id="form" class="container pt-1 rounded bg-light">
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastro()">
        <div class="mb-3 row mt-2">
            <label for="usuario" class="col-sm-1 col-form-label">Nome</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" id="usuario" formControlName="nome" (blur)="validaNome()">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-11">
              <input type="email" class="form-control" id="email" formControlName="email" (blur)="validaEmail()">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="senha" class="col-sm-1 col-form-label">Senha</label>
            <div class="col-sm-11">
              <input type="password" class="form-control" id="senha" formControlName="senha" (blur)="validaSenha()">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="confirma_senha" class="col-sm-1 col-form-label">Confirmar senha</label>
            <div class="col-sm-11">
              <input type="password" class="form-control" id="confirma_senha" formControlName="confirmarSenha" (blur)="validaConfirmaSenha()">
            </div>
            <small class="text-center mt-2">Já possui cadastro? <a routerLink="/login">Faça já o seu login!</a></small>
        </div>
        <div class="d-grid gap-1 col-6 mx-auto py-2">
          <button class="btn btn-primary" type="submit">Confirmar</button>
        </div>
    </form>
</div>