<div class="row p-4 bg-light" id="conteudo">
    <div class="col-sm-4" id="poster">
        <img src="{{jogo.poster}}" alt="{{jogo.nome}}">
        <div *ngIf="jogo.website.length >= 1">
            <h4 *ngFor="let website of jogo.website" class="mt-3 ps-5">
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('steam')">Steam <i class="bi bi-steam"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('xbox')">Xbox <i class="bi bi-xbox"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('sony')">Sony <i class="bi bi-playstation"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('nintendo')">Nintendo <i class="bi bi-nintendo-switch"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('epic')">Epic <i class="bi bi-controller"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('gog')">GOG<i class="bi bi-controller"></i></a>
                <a class="ps-5 text-decoration-none text-black" href="{{website}}" target="_blank" *ngIf="website.includes('blizzard')">Blizzard <i class="bi bi-controller"></i></a>
            </h4>
        </div>
    </div>
    <div class="col">
        <h2>{{jogo.nome}}</h2>
        <h6>Data de lançamento: {{jogo.data_lancamento}}</h6>
        <h6>Genêros</h6>
        <ul>   
            <li *ngFor="let genero of jogo.generos"><small class="fw-bold">{{genero}}</small></li>
        </ul>
        <p>{{jogo.descricao}}</p>
        <div class="mb-2">
            <a class="mx-2 text-decoration-none text-black"><span>{{jogo.nota}}<i class="bi bi-star-fill text-warning"></i></span></a>

            <span *ngIf="usuario$ | async as user; else naoLogin">

                <span *ngIf="favorito;else clique">
                    Favoritar <i class="text-danger bi bi-heart-fill"></i>
                </span>

            <ng-template #clique>
                <button type="button">Favoritar <i class="text-danger bi bi-heart" (click)="favoritar(user.uid)"></i></button>
            </ng-template>

            </span>
            <ng-template #naoLogin>
                <!-- Button trigger modal -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#avisoModal">
                    Favorito <i class="text-danger bi bi-heart"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="avisoModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Aviso</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                Faça o cadastro para habilitar os Favoritos ❤️
                                </div>
                                <div class="modal-footer d-flex justify-content-around">
                                <button type="button" class="btn btn-secondary bg-primary" data-bs-dismiss="modal">
                                    Fechar
                                </button>
                                <button type="button" class="btn btn-secondary bg-primary" data-bs-dismiss="modal">
                                    <a routerLink="/cadastro" class="text-decoration-none text-white">Cadastro</a>
                                </button>
                                <button type="button" class="btn btn-secondary bg-primary" data-bs-dismiss="modal">
                                    <a routerLink="/login" class="text-decoration-none text-white">Login</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>   
        </div> 
        <h6>Produtoras</h6>
        <ul>
            <li *ngFor="let produtora of jogo.produtoras">{{produtora}}</li>
        </ul>
        <h6>Plataformas</h6>
        <ul>
            <li *ngFor="let plataforma of jogo.plataformas">{{plataforma}}</li>
        </ul>
    </div>
</div>
