#conteudo{
    margin: auto;
    margin-top: 130px;
    width: 100%;
}

#poster>img{
    max-width: 300px;
    max-height: 450px;
    border-radius: 15px;
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    border: 0;
}